* {
    box-sizing: border-box;
}
body {
    font-family: serif;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1em lightgray;
}
img {
  border-radius: 30%;
   text-align: center;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}
.header{
    overflow: auto;
    padding: 40px;
    text-align: center;
    background-color:#aec7d1;
    padding-bottom: 20px;
    box-shadow: 0 0 1em black;
}
.row, .row1{
    display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.edu h2, .about h2{
    text-align: center;
}
.about{
    
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding-bottom: 50px;
    background-color: bisque;
    padding: 20px;
     box-shadow: 0 0 1em black;
    text-align: justify;
}
.edu{
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding:20px;
    background-color: #f6a374;
    box-shadow: 0 0 1em black;
    text-align: justify;
}

@media screen and (max-width: 900px) {
  .row, .row1, footer {   
      flex-direction: column;
      width: 100%;
  }
}
.skills{
     
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding-bottom: 0px;
    background-color: #bcaec6;
    padding: 20px;
     box-shadow: 0 0 1em black;
    text-align: justify;
}
.work{
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding:20.5px;
    background-color:darkkhaki;
    box-shadow: 0 0 1em black;
    text-align: justify;
}
.footer{
    text-align: center;
    box-shadow: 0 0 1em black;
    margin: 0;
    padding: 0;
    color: black;
    background-color:white;
    padding: 80px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.footer h2{
    margin: 0;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-github {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-telegram{
    background-color: cornflowerblue;
    color:white;
    
}
a{
    margin: 0px;
    padding: 10px;
}
.footer h3{
    margin:8px
}
